{{ $currentPage := . }}
{{ $menu := .Site.Menus.global }}
<ul class="list hidden dib ph0 ma0 scrolling-touch tc">
  {{ range $menu }}
    <li  class="tl dib ma0 hover-bg-black w-100">
        <a href="{{.URL}}" class="ttc f6 link primary-color-light overflow hover-white-80 db brand-font  ma0 w-100 pv3 ph4{{if $currentPage.IsMenuCurrent "main" . }} bg-primary-color{{end}}">
          {{ .Name }}
              {{/* using ".Post" from the menu system to determine if we should show an icon for external links */}}
            {{ $post_status := printf "%s" .Post }}
            {{ if eq $post_status "external" }}
              <span class="pl1">
                {{ partial "svg/link-ext.svg" (dict "size" "10") }}
              </span>
            {{ end }}
        </a>
    </li>
  {{end}}
</ul>
