
<footer class="bg-primary-color-dark ph4-ns pt3 relative w-100" role="contentinfo">

    <div class="f7 gray mb0 mb0-ns ph3 w-100 dib"> 
  
       <div class="fl mb3 mt2 mr4">

  <a href="" title="Mail" class="link-transition twitter link dib z-999 pt3 pt0-l mr2">
    {{ partial "svg/email.svg" (dict "size" "32px") }}
  </a>

  <a href="" title="RSS" class="link-transition twitter link dib z-999 pt3 pt0-l mr2">
    {{ partial "svg/social-rss-circle-internet.svg" (dict "size" "32px") }}
  </a>

  <a href="https://twitter.com" title="Twitter" class="link-transition twitter link dib z-999 pt3 pt0-l mr2">
    {{ partial "svg/twitter.svg" (dict "size" "32px") }}
  </a>

  <a href="https://mastodon.com" title="Mastodon" class="link-transition twitter link dib z-999 pt3 pt0-l mr2">
    {{ partial "svg/mastodon.svg" (dict "size" "32px") }}
  </a>

  <a href="https://www.linkedin.com" title="Linkedin" class="link-transition twitter link dib z-999 pt3 pt0-l mr2">
    {{ partial "svg/linkedin_round.svg" (dict "size" "32px") }}
  </a>

  <a href="https://www.github.com/pragmatias" title="github" class="link-transition twitter link dib z-999 pt3 pt0-l mr2">
    {{ partial "svg/github-logo.svg" (dict "size" "32px") }}
  </a>

      </div>

      <div class="fr mb3 mt2 mr4">

      	<a class="gray hover-white no-underline" href="https://en.wikipedia.org/wiki/WTFPL">WTFPL license © 2018–{{ now.Year }}.</a>

      </div>


  
    </div>


      

    <div class="bg-primary-color-dark bottom-0 left-0 right-0 dn-l fixed pb3 ph3 w-100">
      {{- partial "nav-mobile.html" . -}}
    </div>

</footer>

