{{ define "main" }}
<div class="container-fluid">
	<article class="blog-post {{ if .Params.toc }} blog-post-with-toc {{end}}">
	    <header>
	        <h2 class="blog-post-title">
	            {{ .Title }}
	        </h2>
	        <div class="blog-post-date">
	            <span>{{ i18n "lastUpd" }} : {{.PublishDate.Day}} {{i18n .PublishDate.Month}} {{.PublishDate.Year}}
	            </span>
	        </div>

			<div class="blog-post-date">
			{{ i18n "lecture_time" }} : {{.ReadingTime}} {{ i18n "minute" }} - {{.WordCount}} {{ i18n "word" }}
			</div>

			<div class="blog-post-tags">
			<strong>Tags:</strong>
			    {{ range .Params.tags }}
			        <a href="{{ "tags/" | absLangURL }}{{ . | urlize }}/"> {{ . }}</a>
			    {{ end }}
			</div>


			
	    </header>

{{ if .Params.toc }}
	  	<aside class="prag-toc">
		<h1 class="prag-toc-head">{{ i18n "summary" }}</h1>
		<div class="prag-toc-body">
		{{ .TableOfContents }}
		</div>
		</aside>
{{ end }}

		<!-- go on top of the page (mobile navigation) -->
		<a id="showTopBtn" href="#" class="prag-sticky-bot">
			{{ partial "svg/up-arrow.svg" (dict "size" "24px") }}
		</a>

		<!-- gestion de l'apparition de la puce pour aller en haut du document -->
		<script>
		$(document).ready(function(){

			$('#showTopBtn').removeClass("prag-sticky-bot");
			$('#showTopBtn').addClass("prag-sticky-hide");

		    $(function () {
		        $(window).scroll(function () {
		            if ($(this).scrollTop() > 900 ) {
		            	$('#showTopBtn').addClass("prag-sticky-bot");
		            	$('#showTopBtn').removeClass("prag-sticky-hide");
		            } else {
		            	$('#showTopBtn').addClass("prag-sticky-hide");
		            	$('#showTopBtn').removeClass("prag-sticky-bot");
		            }
		           });
		    });
		});

		</script>

	    <div class="blog-post-main">
	    	{{ .Content }}
	  	</div>



	</article>
</div>
{{ end }}