    <div class="navbar navbar-expand-md prag-bg-primary prag-header" role="navigation">
        <div class="container-fluid  justify-content-center">
            <div class="navbar-brand">
                <a href="{{ "/blog/" | absLangURL }}">
                    <img src="/images/logo_pragmatias.svg" alt="pragmatias">
                </a>
            </div>

            <button class="navbar-toggler justify-content-end prag-navbar" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1,#navbarSupportedContent2" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                <ul class="navbar-nav text-center">
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.global }}
                    <li class="nav-item{{ if or ($currentPage.IsMenuCurrent "global" .) ($currentPage.HasMenuCurrent "global" .) }} prag-header-active {{end}}">
                        <a class="nav-link" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
                    </li>
                    {{ end }}
                </ul>
            </div>



        
            <div class="collapse navbar-collapse justify-content-md-end" id="navbarSupportedContent2">
                <ul class="navbar-nav flex-row justify-content-center" >

             
                     {{ if .IsTranslated }}
                        {{ range .Translations }}
                        <li class="nav-item">
                            <a href="{{ .Permalink }}" class="prag_header_svg mr-1 ml-1" >         
                                <img src="/images/{{ .Language.Params.ImagePNG }}" alt="{{ .Language.LanguageName }}"> 
                            </a>
                        </li>
                         {{ end}}
                      {{ end }}

                    <li class="nav-item">
                      <a href="{{ "/feed.xml" | absLangURL }}" title="{{ .Site.Title}}" class="prag_header_svg mr-1 ml-1">
                        {{ partial "svg/social-rss-circle-internet.svg" (dict "size" "24px") }}
                      </a>
                    </li>

                    <li class="nav-item">
                        <a href="" title="Mail" class="prag_header_svg mr-1 ml-1">
                        {{ partial "svg/email.svg" (dict "size" "24px") }}
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/pragmatias/" title="github" class="prag_header_svg mr-1 ml-1">
                          {{ partial "svg/github-logo.svg" (dict "size" "24px") }}
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>